h1{
	text-align:center;
}

#interact{
	margin:0 auto;
	text-align:center;
	padding-bottom: 20px;

}

#grid {
	height:432px;
	width:432px;
	margin:0 auto;
}

.box {
	height:25px;
	width:25px;
	border:1px solid black;
	float:right;
}

