h1{
	text-align:center;
}

#interact{
	margin:0 auto;
	text-align:center;
	padding-bottom: 20px;

}

#grid {
	height:400px;
	width:400px;
	margin:0 auto;
	border:solid 1px black;
}

.box {
	height:25px;
	width:25px;
	
	float:right;
}

